.counter{
    background: rgba(227, 43, 43, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.8px);
    -webkit-backdrop-filter: blur(17.8px);
    border: 1px solid rgba(227, 43, 43, 1);
    width:100px;
    height: 100px;
    text-align: center;
    font-size:50px;
    text-justify: center;
    user-select:none;
    position: absolute;
    right: 0;
    top:20px;
    z-index: 99;
}